*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "lato", sans-serif;
    overflow-x: none;
        
}
.navbar_wrapper{
    background-color: rgb(15, 26, 36);
    color: whitesmoke;
    display: absolute;
    
}
.movedown{
    animation: movedown .8s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes movedown{
    0%{
        transform: translateY(-100px);
        visibility: visible;
    }
    100%{
        transform: translateY(0);
        visibility: visible;
    }
}
.navbar_wrapper nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    font-size: 3vmin;
}
nav ul{
    display: flex;
    list-style: none;
    
    
}
a{
    color: whitesmoke;
    border-bottom: 1px solid transparent;

}
.home{
    border-bottom: 2px solid whitesmoke;
    padding: 5px;
}
.active:hover{
    border-bottom: 2px solid whitesmoke;
    transition: .5s ease;
}
.main_content_wrapper{
    background-image: linear-gradient(rgba(1,1,0,0.7),rgba(11, 19, 27, 0.9)), url(./marvin-meyer-SYTO3xs06fU-unsplash.jpg);
    background-position: flex-end;
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
}

a img{
    padding: 5px;
    height: 40px;
    width: 40px;
    border-bottom: 2px solid transparent;
}
a img:hover{
    height: 40px;
    width: 40px;
    border-bottom: 2px solid orangered;
    transition: .5s ease;
}
.main_text_wrapper{
    font-size: 5vmin;
    animation: zoomout 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes zoomout{
    0%{
        transform: scale(0.1);
        visibility: visible;
    }
    100%{
        transform: scale(1);
        visibility: visible;
    }
    
}

.line{
    height: 2px;
    background-color: orangered;
    width: 200px;
    margin: 2px auto;
}
.contact_item_wrapper{
    margin: 25px;
    animation: movedown 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes movedown{
    0%{
        transform: translateY(-100px);
        visibility: visible;
    }
    100%{
        transform: translateY(0);
        visibility: visible;
    }
}

.contact_item_wrapper a {
    margin: 15px 20px;
}

.about_botton{
    
    font-size: 17px;
    padding: 7px;
    background-color: orangered;
    border-radius: 15px;
      
}
.about_botton:hover{
    background-color: rgb(146, 29, 8);
    transition: .5s ease;
    
}
.introduction{
    text-align: center;
    margin: 10px;
}
.introdution_line{
    height: 2px;
    background-color: orangered;
    width: 15%;
    margin: 0px auto 5px auto;
}
.introduction_paragraph{
    width: 98%;
    text-align: justify;
    margin: 0px auto;
}
.Web_dev_content{
    display: flex;
    justify-content: space-between;
    width: 98%;
   
}

.web_dev_img, .web_dev_paragraph{
    width: 49%;

}
.web_dev_paragraph p{
    text-align: justify;
    margin: 5% 5% auto 5%;
}
.img{
   width: 90%; 
   height: 70vh;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
}
.text_focus{
    color: orangered;
    font-weight: bold;
}
.line_break{
    height: 1px;
    background-color: powderblue;
    margin-top: 30px;
}
#img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 40px auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
/*About Page*/
.about_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin: 20px;
    animation: zoomout 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes zoomout{
    0%{
        transform: scale(0.1);
        visibility: visible;
    }
    100%{
        transform: scale(1);
        visibility: visible;
    }
    
}

.about_text{
    width: 55%;
    text-align: justify;
    margin: 20px;
}
.author_img{
    width: 45%;
    
}
.author_img img{
    height: 500px;
    width: 80%;
    border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
}
.mail{
    text-align: center;
}
footer{
    color: whitesmoke;
    background-image: linear-gradient(rgba(1,1,0,0.7),rgba(11, 19, 27, 0.9)), url(./marvin-meyer-SYTO3xs06fU-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
    text-align: center;
    margin-top: 10px;
    
}
.skills_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin-bottom: 30px;
    
}

#introduction{
    margin: 20px;
}

td{
    padding: 5px;
    margin: 5px 20px 5px 20px;
    text-align: center;
    font-size: 14px;
    
}
footer p{
    padding: 20px;
}

@media screen and (min-width: 380px) and (max-width: 720px){
    .Web_dev_content{
        display: block;
    }
    .web_dev_img, .web_dev_paragraph{
        width: 98%;
        margin: auto 0px auto 0px;
    }
    .img{
        margin: 40px 3% 20px 5%;
    }
    #img{
        width: 80%;
        height: 200px;   
    }
    .about_body{
        display: block;
        margin: none;
    }
    .about_text, .author_img{
        width: 95%;
        
    }
    .author_img img, .about_text p {
        width: 93%;
        margin: none;
        
    }
   
    

}   